$blue: #2980b9;
$background-color: $blue;
$body-font: "Muli";

body {
  background-color: $background-color;
}

.header {
  z-index: 9999;
}

.main-content {
  position: relative;
  height: 300px;
  width: 700px;
  left: 50%;
  margin-left: -340px;
  top: 40vh;
  margin-top: -200px;
  text-shadow: 0 1.5px darken($background-color, 15%);

  .container {
    display: inline;
  }

  .writing {
    margin-top: 25px;
    padding-left: 20px;
  	width: 370px;
    float: left;
  }

	img {
		width: 300px;
    float: left;
    z-index: 0;
	}

	p {
		font-family: $body-font;
		font-size: 1.2em;
	}
}

//iPhone 6 Plus
@media (max-width: 425px) {
  .main-content {
    top: 14em;
    left: 92vw;
    width: 225px;

    .container {
      position: relative;
      left: 50%;
    }

    .writing {
      width: 350px;
      margin-left: -15%;
      margin-top: 1em;
    }

    img {
      width: 220px;
      margin-left: -70px;
    }

    p {
      font-size: 1.1em;
    }
  }
}

//iPhone 6
@media (max-width: 380px) {
  .main-content {
    top: 30vh;

    .writing {
      width: 350px;
      margin-left: -6%;
      margin-top: 5px;
    }

    img {
      width: 175px;
      margin-left: -30px;
    }

    p {
      font-size: 1em;
    }
  }
}

//Nexus 5
@media (max-width: 360px) {
  .main-content {
    top: 15.4em;

    .writing {
      margin-left: -3%;
    }

    img {
      width: 150px;
      margin-left: -12px;
    }
  }
}

//iPhone 5
@media (max-width: 325px) {
  .main-content {
    top: 38vh;

    .writing {
      width: 310px;
      margin-left: 12%;
      margin-top: 15px;
    }

    img {
      width: 150px;
      margin-left: 5px;
    }

    p {
      font-size: 1em;
    }
  }

  .footer {
    position: relative;
    left: 0;
    display: inline;
  }

  .container {
    padding-bottom: 50px;
  }
}

//iPhone 4S
@media (max-height: 480px) {
  .main-content {
    top: 15.25em;

    .writing {
      margin-top: 7px;
      z-index: 9999;
    }

    img {
      width: 125px;
      margin-left: 18px;
    }
  }

  .footer {
    top: 52vh;
  }
}