$blue: #2980b9;
$background-color: $blue;
$body-font: "Muli";

body {
  background-color: $background-color;
}

.main-content {
	//background-color: red;
	//text-align: center;
  position: relative;
  height: 50%;
  width: 700px;
  left: 50%;
  margin-left: -350px;
  top: 15vh;
  text-shadow: 0 1.5px darken($background-color, 25%);

  td {
  	padding: 10px;
  }

	img {
		width: 300px;
	}

	p {
		font-family: $body-font;
	}
}