$turquoise: #16a085;
$background-color: $turquoise;
$body-font: "Muli";

body {
  background-color: $background-color;
}

.header {
  li, h1 {
    text-shadow: 0 1.5px darken($background-color, 15%);
  }
}

.contact-info {
  text-align: center;
  position: relative;
  height: 50%;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 30vh;
  text-shadow: 0 1.5px darken($background-color, 15%);

  table {
    position: relative;
    width: 200px;
    left: 50%;
    margin: 3.5em 0 15vh -100px;
  }

  td {
    font-size: 1.2em;
    padding: 5px;
  }

  .email {
    td {
      padding-top: 20px;
    }
  }

  i {
    padding-top: 3px;
    font-size: 1.25em;
  }

  a {
    font-family: $body-font;
  }
}

p, h2 {
  font-family: $body-font;
  font-size: 1.2em;
}

.more-ways {
  position: absolute;
  bottom: 5em;
  width: 300px;
  left: 50%;
  text-align: center;
  margin-left: -150px;
  text-shadow: 0 1.5px darken($background-color, 15%);

  i {
    font-size: 2em;
  }
}

//Short desktop
@media (max-height: 1024px) {
  .contact-info {
    top: 27vh;
  }
}

//Super short desktop
@media (max-height: 700px) {
  .contact-info {
    top: 21vh;
  }
}

//iPad
@media (max-width: 768px) {
  .contact-info {
    table {
      margin-bottom: 15vh;
    }
  }
}

@media (max-height: 550px) {
  .contact-info {
    top: 20vh;
  }
}

//iPhone 6 Plus
@media (max-width: 414px) {
  .contact-info {
    top: 20vh;
  }
}

//iPhone 6
@media (max-width: 380px) {
  .contact-info {
    top: 15vh;
  }
}

//Nexus 5
@media (max-width: 360px) {
  .contact-info {
    top: 7.5em;

    table {
      margin-bottom: 5vh;
    }
  }
}

//iPhone 5
@media (max-width: 320px) {
  .contact-info {
    top: 8em;
  }
}

//iPhone 4S
@media (max-height: 480px) {
  .more-ways {
    display: none;
  }

  .contact-info {
    top: 5em;
  }
}