$grey: #333333;
$background-color: $grey;
$body-font: "Muli";

body {
  background-color: $background-color;
}

.main-content {
	height: 100%;
}

.words {
	height: 300px;
	width: 50%;
	position: relative;
	left: 50%;
	top: 50vh;
	margin-top: -180px;
	margin-left: -320px;
	text-shadow: 0 1.5px darken($background-color, 25%);

	h2 {
		font-family: $body-font;
		font-size: 1.2em;
	}

	ul {
		list-style: none;
	}

	p {
		font-family: $body-font;
		width: 350px;
	}

	a {
		margin-top: 20px;
		margin-left: 100px;
	}
}

.phone {
	width: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -165px;
}

#myCarousel {
	left: 32.5%;
	width: 35%;
}

#overlay {
	position: absolute;
	color: white;
	fill: #ffffff;
	opacity: 0.6;
	left: 30.1%;
	top: -18.7%;
}

.header {
	li, h1 {
		text-shadow: 0 2.5px darken($background-color, 25%);
	}
}