$grey: #333333;
$background-color: $grey;
$body-font: "Muli";

body {
  background-color: $background-color;
}

.main-content {
  height: 100%;
  width: 80%;
  position: relative;
  left: 50%;
  margin-left: -40%;
  margin-top: 25vh;
}

.thumbnail {
  text-shadow: none;
  font-family: $body-font;
  background-color: $background-color;
  border: none;

  p {
    font-family: $body-font;
    margin-bottom: 25px;
  }

  h3, p {
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1.5px darken($background-color, 15%);
  }

  img {
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
  }

  a {
    text-shadow: none;
  }
}

.button {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-family: $body-font;
  transition: 0.1s;

  &:hover {
    background-color: #ffffff;
    color: $background-color;
    transform-style: ease-in;
  }
}

.header {
  li, h1 {
    text-shadow: 0 1.5px darken($background-color, 15%);
  }
}

@media (max-height: 800px) {
  .main-content {
    margin-top: 20vh;
  }
}

//iPhone 6 Plus
@media (max-width: 414px) {
  .footer {
    display: none;
  }

  .main-content {
    margin-top: 5vh;
  }
}

//Nexus 5
@media (max-width: 360px) {
  .main-content {
    margin-top: 10vh;
  }
}

//iPhone 4S
@media (max-height: 480px) {
  .main-content {
    margin-top: 10vh;
  }
}