$red: #b6453f;
$background-color: $red;
$body-font: "Muli";

body {
  background-color: $background-color;
}

.header {
  li, h1 {
    text-shadow: 0 1.5px darken($background-color, 15%);
  }
}

#res {
  height: 396px;
  transition: 0.25s;
}

#res:hover {
  height: 446px;
}

.resumes {
  text-align: center;
  text-shadow: 0 1.5px darken($background-color, 15%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  height: 500px;
  margin-top: -230px;

  h2, p {
    font-family: $body-font;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 0;
  }

  table {
    margin: 2em auto 0 auto;
  }

  .or {
    padding: 20px;
    fill: #ffffff;
    color: white;
    margin-bottom: 40%;

    img {
      width: 70px;
      color: white;
    }
  }

  p {
    font-size: 1.75em;
  }

  #old-school {
    position: relative;
    top: 5px;
    font-family: Special Elite;
  }

  #snazzy {
    font-family: Lobster;
  }

}

//iPad
@media (max-width: 768px) {
  .resumes {
    width: 300px;
    margin-left: -172px;
    margin-top: -100px;
    height: 200px;
  }

  #res {
    height: 150px;
  }

  #res:hover {
    height: 150px;
  }

  #old-school, #snazzy {
    font-size: 1.5em;
  }

  h2 {
    margin-left: 25px;
    width: 300px;
  }

  .or img {
    width: 300px;
  }
}

//iPhone 6 Plus
@media (max-width: 414px) {
  .main-content {
    .attributes {
      margin-top: -20px;
    }
  }

  .resumes {
    margin-left: -150px;
  }

  h2 {
    margin-left: 0px;
  }

  .or {
    opacity: 0;
    width: 10px;
  }
}

//iPhone 5
@media (max-width: 325px) {
  .resumes {
    margin-left: -150px;
    margin-top: -100px;
  }

  h2 {
    margin-left: 5px;
    width: 300px;
  }

  #res {
    height: 150px;
  }

  #res:hover {
    height: 120px;
  }

  #old-school, #snazzy {
    font-size: 1.5em;
  }
}

//iPhone 4S
@media (max-height: 480px) {
  .resumes {
    margin-top: -95px;
    h2 {
      display: none;
    }
  }
}