$red: #b6453f;
$background-color: $red;
$body-font: "Muli";

body {
  background-color: $background-color;
}

.header {
  li, h1 {
    text-shadow: 0 2.5px darken($background-color, 15%);
  }
}

#res {
  height: 396px;
  transition: 0.25s;
}

#res:hover {
  height: 446px;
}

.resumes {
  text-align: center;
  text-shadow: 0 2.5px darken($background-color, 15%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  height: 500px;
  margin-top: -230px;

  h2, p {
    font-family: $body-font;
  }

  h2 {
    font-size: 1.25em;
    margin-top: 0;
  }

  table {
    margin: 2em auto 0 auto;
  }

  .or {
    padding: 20px;
    fill: #ffffff;
    color: white;
    margin-bottom: 40%;

    img {
      width: 70px;
      color: white;
    }
  }

  p {
    font-size: 1.75em;
  }

  #old-school {
    position: relative;
    top: 5px;
    font-family: Special Elite;
  }

  #snazzy {
    font-family: Lobster;
  }

}