$asphalt: #34495e;
$font: "Telegrafico";
$background-color: $asphalt;

@font-face {
  font-family: $font;
  src: url("/fonts/telegrafico.ttf");
}

html, head, body, title, h1, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: $background-color;
  background-size: cover;
  background-position: top left;
}

p, a, li, body {
  color: #ffffff;
  font-family: $font, 'Open Sans', sans-serif;
}

a {
  text-decoration: none;

  &:link {
    color: #ffffff;
    text-decoration: none;
  }

  &:visited {
    color: #ffffff;
    text-decoration: none;
  }

  &:hover {
    opacity: 1;
    color: #ffffff;
    text-decoration: none;
  }

  &:active {
    color: #ffffff;
    text-decoration: none;
  }
}

li:hover {
  color: #ffffff;
}

.container {
  height: 100%;
  width: 100%;
}

/* HEADER */
.header {
  text-align: center;

  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    padding-bottom: 5px;
    border: none;
    //transition: border-bottom 0.25s;
  }

  a:hover {
    border-bottom: 2px solid white;
    color: #ffffff;
  }

  li {
    display: inline;
    margin: 5px;
    text-shadow: 0 2.5px darken($background-color, 25%);
  }

  li:last-child {
    margin-right: 0;
  }

  h1 {
    margin: 15px;
    color: #ffffff;
    font-family: $font, 'Open Sans', sans-serif;
    font-size: 3em;
    text-shadow: 0 0.08em darken($background-color, 25%);
  }
}

/* FOOTER */
.footer {
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 300px;
  margin-left: -150px;

  li {
    display: inline;
    margin-right: 10px;
    height: 2em;
  }

  li:last-child {
    margin-right: 0;
  }

  i {
    padding: 3px;
    width: 10%;
    font-size: 2em;
    transform: scale(1, 1);
    opacity: 0.6;
    color: #ffffff;
    transition: opacity 0.25s ease-in-out;
  }

  i:hover {
    opacity: 1;
  }
}

/* OTHER STYLES */
.main-content {
  .attributes {
    position: absolute;
    width: 300px;
    top: 40vh;
    left: 50%;
    margin: 0 0 0 -150px;
    text-align: center;
  }
  text-shadow: 0 0.25em darken($background-color, 25%);
}

.first, .second, .third, .fourth {
  display: none;
}

@media (max-width: 360px) {
  .header {
    h1 {
      font-size: 2.6em;
    }

    ul {
      width: 100vw;
      position: absolute;
      left: 0;
    }
  }

  .main-content {
    .attributes {
      margin-top: -10px;
    }
  }
}